<<<<<<< HEAD
/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* Header Styles */
header {
    background: linear-gradient(to bottom, #4CAF50, #45a049);
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

header h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

header p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    background: #fff;
    color: #4CAF50;
    text-decoration: none;
    border-radius: 25px;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #45a049;
    color: #fff;
}

/* Layanan Section Styles */
#layanan {
    padding: 50px 0;
}

.layanan {
    text-align: center;
    margin-bottom: 50px;
}

.layanan img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.layanan h3 {
    font-size: 2.5em;
    margin-bottom: 15px;
}

.layanan p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 30px;
}

/* Footer Styles */
footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
}
=======
        body {
            font-family: Arial, sans-serif;
            background-image: url('https://tse3.mm.bing.net/th?id=OIP.yf3wX8eUHlyYlC80F8P4sgHaEP&pid=Api&P=0&h=180');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        form {
            max-width: 600px;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        input[type="text"], input[type="number"], input[type="email"], select, textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        input[type="submit"] {
            background-color: #17a2b8;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            background-color: #555;
        }
        label {
            color: #333;
        }
>>>>>>> 168f2c2 (051)
