body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
    background-color: rgb(42, 155, 225); 

    
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #ffffff;
    padding: 80px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
}

header p {
    font-size: 18px;
}

.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.btn:hover {
    background: #555;
}

section {
    padding: 40px 0;
    text-align: center;
}

section h2 {
    font-size: 32px;
}

.layanan {
    margin-top: 40px;
}

.layanan img {
    width: 200px;
    border-radius: 20%;
}

.layanan h3 {
    margin-top: 20px;
    font-size: 24px;
}

.layanan p {
    font-size: 18px;
}

footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
